<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <title>Store Front</title>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>var stripe = Stripe('pk_test_uvD7Vwa9KENkoMIjcEK73ucs00E5DeaD4r');</script>
</head>

<body>
  {{!-- Main Page Layout --}}
  <section class="hero is-small is-dark">
    <div class="hero-body">
      <nav class="navbar">
        <div class="navbar-brand">
          <div class="logo">
            <a class="image" href="/"><img src="https://via.placeholder.com/175x125" id="logo" alt="Logo"></a>
          </div>
        </div>
        <div class="navbar-menu is-active">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <button class="button is-link is-light is-medium" id="modal_launch">Login</button>
                </p>
                <p class="control">
                  <button class="button is-link is-medium" id="signup_modal">Signup</button>
                </p>
                <p class="control">
                  <button class="button is-dark is-medium">
                    <span class="icon is-medium has-text-grey-lighter">
                      <i class="fas fa-2x fa-shopping-cart"></i>
                    </span>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>
      <a class="navbar-item" href="/electronics">
        Electronics
      </a>
      <a class="navbar-item" href="/clothing">
        Clothing
      </a>
      <a class="navbar-item" href="/outdoors">
        Outdoors
      </a>
      <a class="navbar-item" href="/automotive">
        Automotive
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item is-expanded">
        <div class="field is-grouped">
          <div class="control has-icons-left">
            <input class="input is-link" id="search_input" type="text" placeholder="Search..">
            <span class="icon is-small is-left">
              <i class="fas fa-search"></i>
            </span>
          </div>
          <button class="button is-link search_button">
            <span>Search</span>
          </button>
        </div>
      </div>
    </div>
  </nav>
  <br>

  {{{body}}}
  
<script src="/js/index.js"></script>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</body>

</html>