<div class='container'>
  <h1 class="title">Todays Highlights</h1>
  <div class="tile is-ancestor has-bg-img">
    {{#each products}}
    {{products}}
    {{> cards/cards}}
    {{/each}}
  </div>
</div>

{{!-- Login Modal --}}
<div class="modal login_modal login">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-3 has-text-weight-bold">Sign In</p>
      <button class="delete" id="cancel" aria-label="close"></button>
    </header>
    <div class="tile is-ancestor box">
      <div class="tile is-parent is-vertical box">
        <p>Username</p>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input is-link" type="email" id="login_user" placeholder="Enter your Username..">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
        <p>Password</p>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input is-link" type="password" id="login_password" placeholder="Enter your Password">
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
          </p>
        </div>
        <div class="columns">
          <div class="column is-10"></div>
          <div class="column is-2">
            <button class="button is-link" id="submit_credentials">Login</button>
          </div>
        </div>
        <hr>
        <div class="alt_signin">
          <h1 class="is-size-4 has-text-weight-bold">...Or sign in using a platform below</h1>
        </div>
        <div class="columns is-centered">
          <div class="field">
            <p class="buttons">
              <button class="button is-link">
                <span class="icon is-medium">
                  <i class="fab fa-google"></i>
                </span>
                <span>Sign in with Google</span>
              </button>
            </p>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="field">
            <p class="buttons">
              <button class="button is-link" id="facebook_color">
                <span class="icon is-medium">
                  <i class="fab fa-facebook"></i>
                </span>
                <span>Sign in with Facebook</span>
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- Sign Up Modal --}}
<div class="modal signup_modal signup">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-3 has-text-weight-bold">Sign Up</p>
      <button class="delete" id="cancel_newuser" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="tile is-ancestor box">
        <div class="tile is-12">
          <div class="tile is-parent">
            <div class="tile is-child box">
              <p>Email</p>
              <div class="field">
                <input class="input is-link" type="text" id="new_email" placeholder="Email..">
              </div>
              <p>Password</p>
              <div class="field">
                <input class="input is-link" type="password" id="new_password" placeholder="Password..">
              </div>
              <div class="columns">
                <div class="column is-6">
                  <p>First Name</p>
                  <div class="field">
                    <input class="input is-link" type="text" id="first_name" placeholder="First Name..">
                  </div>
                </div>
                <div class="column is-6">
                  <p>Last Name</p>
                  <div class="field">
                    <input class="input is-link" type="text" id="last_name" placeholder="Last Name..">
                  </div>
                </div>
              </div>
              <div class="field">
                <p>Address</p>
                <input class="input is-link" type="text" id="new_address" placeholder="Address..">
              </div>
              <div class="columns">
                <div class="column is-4">
                  <p>City</p>
                  <input class="input is-link" type="text" id="new_city" placeholder="City..">
                </div>
                <div class="column is-4">
                  <p>State</p>
                  <input class="input is-link" type="text" id="new_state" placeholder="State..">
                </div>
                <div class="column is-4">
                  <p>Zip Code</p>
                  <input class="input is-link" type="text" id="new_zip_code" placeholder="Zip Code..">
                </div>
              </div>
              <div class="columns">
                <div class="column is-9"></div>
                <div class="column is-3 has-text-right">
                  <button class="button is-link" id="submit_newUser">Sign Up</button>
                </div>
              </div>
              <hr>
              <div class="alt_signin">
                <h1 class="is-size-4 has-text-weight-bold">...Or sign in using a platform below</h1>
              </div>
              <div class="columns is-centered">
                <div class="field">
                  <p class="buttons">
                    <button class="button is-link">
                      <span class="icon is-medium">
                        <i class="fab fa-google"></i>
                      </span>
                      <span>Sign in with Google</span>
                    </button>
                  </p>
                </div>
              </div>
              <div class="columns is-centered">
                <div class="field">
                  <p class="buttons">
                    <button class="button is-link" id="facebook_color">
                      <span class="icon is-medium">
                        <i class="fab fa-facebook"></i>
                      </span>
                      <span>Sign in with Facebook</span>
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{{!-- Javascript to open modals --}}
<script>
  $("#modal_launch").click(function () {
    $(".login").addClass("is-active");
  });

  $("#cancel").click(function () {
    $(".login").removeClass("is-active");
  });

  $("#signup_modal").click(function () {
    $(".signup").addClass("is-active");
  });

  $("#cancel_newuser").click(function () {
    $(".signup").removeClass("is-active");
  });
</script>