<div class='container'>
  <h1 class="title">Todays Highlights</h1>
  <div class="tile is-ancestor has-bg-img">
    {{#each products}}
    {{products}}
    {{> cards/cards}}
    {{/each}}
  </div>
</div>