<div class="container">
    <div class="tile is-ancestor">
        <div class="tile is-parent is-3">
            <div class="tile is-child">
                <img src={{image}} width="300px">
            </div>
        </div>
        <div class="tile is-parent is-vertical">
            <div class="tile is-child">
                <div class="tile is-9">
                    <p class="title is-size-2 is-12">{{name}}</p>
                </div>
                <hr>
                <p class="price is-size-5">Price: ${{price}}</p>
                <br />
                <p>{{detail}}</p>
            </div>
            <div class="columns is-right">
                <div class="column is-10"></div>
                <div class="column is-2">
                    <div class="field">
                        <button class="button is-link">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

<script>

</script>