<div class="container">
  <div class="tile is-ancestor">
      <div class="tile is-parent">
          <div clas="tile is-4">
              <img src="{{item.imageId}}" width="500px">
          </div>
          <div class="tile is-8">
              {{item.title}}
              <hr>
              <h3 class="price">Price: {{item.price}}</h3>
              <br />
              <p>{{item.description}}</p>
              <button class="button cart_button" type="submit" value="AddCart">Add to cart</button>
              <button class="button addAlert isStatic" type="submit" value="Added">Added!</button>
          </div>
      </div>
    
  </div>
</div>

<script>
    
</script>