{{#if highlight}}
    <div class="tile is-vertical is-3">
        <div class="tile is-parent is-vertical">
            <article class="tile is-child box">
                <p class="title">{{product_name}}</p>
                <a href="/item/{{id}}"><img src={{image_link}}></a>
            </article>
        </div>
    </div>   
{{/if}}
