.searchIcon {
  padding-right: 0px;
}

.align_head {
  margin: auto;
  }

.alt_signin {
  margin-bottom: 20px;
}

.logo {
  width: 155px;
  height: 105px;
}

.images {
  height: auto;
}

.items_page {
  max-height: 100%;
  max-width: 100%;
  padding-right: 15px;
}

.image {
  height: auto;
}

.item_image {
  max-height: 100%;
  max-width: 100%;
}

#search_form {
  padding-right: 0px;
}

#facebook_color {
  background-color: navy;
}

#subtotal {
  padding-bottom: 0px;
}

#tax {
  padding-bottom: 0px;
  padding-top: 0px;
}

#total_separator {
  margin: 5px;
}

/* .has-bg-img {
  background-image: url("/background.jpg")
} */

.stripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.stripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.stripeElement--invalid {
  border-color: #fa755a;
}

.stripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}